.home {
  display: flex;
  gap: 5rem;
  justify-content: space-between;

  .intro {
    max-width: 100%;
  }

  .code-img {
    width: 100%;
    max-width: 960px;
    height: auto;
    margin: 3rem 0 1.5rem 0;
  }

  .user-forms {
    padding: 1.5rem 2rem;
    padding-bottom: 2.2rem;
    background: var(--light-color);
    width: 500px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 960px) {
  .home {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .user-forms {
    margin: 1rem;
    max-width: 400px;
  }
}
