@import "../style/mixins.scss";

.page-container {
  width: 100%;
  @include card;

  .login {
    text-decoration: underline;
    color: var(--primary-color);
  }
  .content {
    @include card;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 2rem;
    // justify-content: space-between;

    span {
      font-weight: bold;
    }

    .search-bar {
      width: 100%;
      margin: auto;
      input {
        padding: 1rem 1.5rem;
        font-size: 0.9rem;
        font-weight: bold;
      }

      input:focus {
        outline: none;
      }
    }

    .openModalBtn,
    .clear-search {
      @include lnk();
      margin-bottom: 1rem;
      margin-right: 1rem;
      // margin-top: 1rem;
      display: block;
    }

    .search-buttons {
      margin: 2rem 0 1rem;
      display: flex;
      justify-content: space-between;
      button {
        @include lnk();
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .snippets-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
  }

  .no-snippets {
    color: var(--text-dark-color);
    font-weight: bold;
    margin-top: 1rem;
  }

  .snippets {
    width: 100%;
  }

  .tags-selector {
    @include card();
    // margin: 3rem 0;
    padding-bottom: 2.5rem;
    background: var(--light-color);
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    text-align: center;

    p {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    li {
      text-decoration: none;

      &:hover {
        color: var(--text-dark-color);
      }
    }

    hr {
      margin: 0.8rem 0;
    }
  }

  .tags-editor {
    padding: 2rem;

    .tag {
      @include btn();
      background: var(--dark-color);
      margin: 1rem 0.3rem;
    }

    .add-tag,
    .remove-tags {
      @include card();
    }

    .add-tag {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .page-container {
    margin-top: 60px;

    .snippets-container {
      flex-direction: column-reverse;
    }

    .tags-selector {
      max-width: 100%;

      ul {
        .separator {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }

        hr {
          display: none;
        }
        li {
          line-height: 0.5;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .page-container {
    margin-top: 1rem;
    .tags-editor {
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .page-container {
    .content {
      .clear-search {
        display: none;
      }
      .openModalBtn {
        margin-top: 2rem;
        float: right;
      }
      .search-buttons {
        display: inline-block;
        margin-top: 0;
      }
    }
  }
}
