:root {
  --primary-color: #721bff;
  --text-dark-color: #3a3a3a;
  --text-light-color: #ffffff;
  --text-link-color: #9a62f3;
  --text-danger-color: #c71a1a;
  --tag-color: rgb(114, 194, 39);

  --light-color: #f0f0f0;
  --dark-color: #dddddd;
  --danger-color: #c71a1a;
  --danger-light-color: #e08a8a;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
