:root {
  --primary-color: #721bff;
  --text-dark-color: #3a3a3a;
  --text-light-color: #ffffff;
  --text-link-color: #9a62f3;
  --text-danger-color: #c71a1a;
  --tag-color: rgb(114, 194, 39);

  --light-color: #f0f0f0;
  --dark-color: #dddddd;
  --danger-color: #c71a1a;
  --danger-light-color: #e08a8a;

  --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  --box-shadow-light: rgba(4, 4, 39, 0.85) 0px 50px 100px -20px,
    rgba(221, 221, 221, 0.9) 0px 30px 60px -30px,
    rgba(24, 49, 75, 0.6) 0px -2px 6px 0px inset;

  --box-shadow-btn: 0 10px 20px rgba(50, 50, 93, 0.25),
    0 8px 8px rgba(0, 0, 0, 0.3);
}
