@import "../style/mixins.scss";

.navbar {
  margin-bottom: 3rem;
  display: flex;
  // align-items: flex-end;
  justify-content: space-between;
  color: var(--text-light-color);

  .btn-logout,
  .btn-snippets {
    @include lnk();
  }

  a,
  .btn-logout,
  .btn-snippets {
    color: unset;
  }

  .btn-snippets {
    margin: 0 1rem;
  }

  .user {
    text-align: right;
    margin-right: 2rem;
    cursor: default;
  }

  .user-nav {
    display: flex;
  }
}

@media screen and (max-width: 769px) {
  .navbar {
    padding: 1rem;
    margin-bottom: 0;

    h1 {
      font-size: 1.5rem;
    }

    .user-nav {
      margin-top: 2.5rem;
      flex-direction: column;
      justify-content: flex-end;

      // .btn-snippets {
      //   margin: 0.5rem 0;
      // }
    }
  }
}
