@import "../style/mixins.scss";

.snippet {
  margin-bottom: 2rem;
  max-width: 1200px;
  @include card();

  .edit-title {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: var(--danger-color);
  }

  .description,
  .code {
    margin-bottom: 1rem;
    max-height: 500px;
    overflow: auto;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: auto;
    .tag {
      font-weight: bold;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    margin-bottom: 0.6rem;
  }

  .snippet-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .btn-edit,
  .btn-delete,
  .btn-copy,
  .btn-save,
  .btn-cancel {
    @include btn();
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    color: var(--text-light-color);
  }

  .btn-edit,
  .btn-save {
    background: var(--primary-color);
  }

  .btn-delete,
  .btn-cancel {
    background: var(--danger-color);
  }

  .btn-copy {
    background: green;
  }
}
