@import "../style/mixins.scss";

.tag-editor {
  margin: 1rem 0;

  .form {
    input {
      width: 200px;
      display: inline-block;
      margin-right: 1rem;
    }
  }

  select {
    width: 200px;

    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    background: var(--dark-color);
    color: var(--text-dark-color);
  }

  button {
    @include btn();
    background: var(--primary-color);
    color: var(--text-light-color);
  }
}
