@import "../style/mixins.scss";

.snippet {
  margin: 1.5rem 0 3rem 0;
  @include card();

  .edit-title {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: var(--danger-color);
  }

  .description,
  .code {
    margin-bottom: 1rem;
  }

  .tag {
    margin-right: 2rem;
    font-weight: bold;
  }

  .divider {
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    margin-bottom: 0.6rem;
  }

  .snippet-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .btn-edit,
  .btn-delete,
  .btn-copy,
  .btn-save,
  .btn-cancel {
    @include btn();
    margin-right: 1rem;
    color: var(--text-light-color);
  }

  .btn-edit,
  .btn-save {
    background: var(--primary-color);
  }

  .btn-delete,
  .btn-cancel {
    background: var(--danger-color);
  }

  .btn-copy {
    background: green;
  }
}
