@import "../../style/mixins.scss";

.auth-form {
  .btn-submit {
    @include btn();
    background: var(--primary-color);
    color: var(--text-light-color);
    margin: 1rem 0;
    width: 100%;
  }

  .form-container {
    padding: 1.5rem 0;
  }

  .divider p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
    line-height: 0.1em;
    margin: 2rem 0 2rem;
  }

  .divider p span {
    background-color: var(--light-color);
    padding: 0 10px;
  }

  form input {
    width: 100%;
    margin-bottom: 1.4rem;
    margin-top: 0.4rem;
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
  }

  .form-footer {
    padding: 1rem 0;
    border-top: 1px solid var(--primary-color);
    background-color: var(--light-color);
  }

  .form-footer p {
    padding-top: 1rem;
  }

  .form-footer span {
    font-weight: bold;
    cursor: pointer;
  }

  .action {
    // font-weight: bold;
    font-size: 1.4rem;
  }

  .reload-demo-accout {
    color: var(--danger-color);
    cursor: pointer;
    text-align: center;
  }
}
